// start .sSimple
.sSimple {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	.row {
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: #{rem(8)};
		counter-reset: num;
	}
	.section-title {
	}
	&__col {
	}
	counter-reset: num2;
	&__item {
		background: radial-gradient(
			73.92% 87.75% at 89.04% 73.73%,
			#f3f3f3 0%,
			#fafafa 100%
		);
		@include media-breakpoint-up(md) {
			padding: 40px;
		}
		padding: 20px;
		font-size: 20px;
		position: relative;
		overflow: hidden;
		z-index: 2;
		&::before {
			content: counter(num2);
			counter-increment: num2;
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translateX(25%);
			line-height: 0.6;
			color: #fff;
			font-size: calc(10vw + 250px);
			font-family: Akrobat, sans-serif;
			font-weight: bold;
			z-index: -1;
		}
		p {
			max-width: 530px;
		}
	}
	&__step {
		background-color: $primary;
		color: #fff;
		text-transform: uppercase;
		font-family: Akrobat, sans-serif;
		font-weight: bold;
		display: inline-block;
		padding: 10px 12px;
		margin-bottom: 40px;
		&::after {
			content: counter(num);
			counter-increment: num;
		}
	}
	&__video {
		aspect-ratio: 670 / 376;
		border-radius: 8px;
		overflow: hidden;
		position: relative;
		background-color: #000;
		iframe {
			width: 100%;
			height: 100%;
			border: none;
			position: absolute;
			inset: 0;
		}
	}

	&__block {
		// margin-top: rem(8);
		border-radius: 8px;
		background-image: url(../img/sSimple-bg.jpg);
		@include bgs;
		color: #fff;
		@include media-breakpoint-up(md) {
			padding: 40px;
		}
		padding: 20px;
		.h3 {
			max-width: 820px;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sSimple
