mixin sSimple(data)
	// start sSimple
	+b.SECTION.sSimple.section#sSimple&attributes(attributes)
		.container
			+b.section-title
				h2
					span.text-primary Простой механизм, 
					br
					| который ведёт Вас к прибыли 
					br
					| в 4 шага
			.h3.ttu.mb-5 На американском рынке каждый день есть акции, который двигаются с высокой волатильностью. Если акция движется – значит, там есть возможность заработать.
				br
				span.text-primary Всё, что нужно – пройти 4 простых шага.
			+e.row.row.mb-5
				mixin item(t)
					.col-lg-6
						+e.item.h-100
							+e.step Шаг
							.h3= t
							block
				+item('Находим волатильность')
					p В начале американской сессии скринер TradingView с моими настройками показывает, где сегодня ожидается движение. Он отсекает весь шум и оставляет только живые акции.

					p з тысяч тикеров остаются 3–10, в которых есть реальный потенциал. Не «возможно завтра». А сегодня.

				+item('Отбираем акции, которые могут принести прибыль')
					p Наблюдаем за тикерами в торговом терминале. В первые 15 минут большинство отсеивается.

					p Остаётся 1–3 горячих акций, именно они дают возможность заработать

				+item('Ждём подтверждения роста')
					p Перед ростом акции ведут себя одинаково. Вы ждёте знакомую картину и видите, когда начинается движение вверх.

					p Вход в сделку однозначный и очевидный. Его трудно пропустить

				+item('Фиксируем прибыль')
					p Когда движение заканчивается, рынок сам подсказывает, когда выйти. Вы забираете прибыль и завершаете торговлю на сегодня.

					p Завтра будут новые акции. И новые возможности
			.text-center.mb-5
				.h3.mb-5 Всё просто: рынок даёт волатильность, Вы её собираете.
					.text-primary Стратегия приносит результат не когда-нибудь, а сегодня.
				.h6-fw-400.mb-4 Смотрите, как стратегия работает в реальном времени.<br> Эти сделки записаны на видео прямо в процессе торговли.
			+e.video-row.row.mb-5

				- var list = ["https://kinescope.io/e2XNJwJpavG2tdvfcveMaD", "https://kinescope.io/2CoZJRViBWw4zcEafmSN9V", "https://kinescope.io/e2XNJwJpavG2tdvfcveMaD", "https://kinescope.io/2CoZJRViBWw4zcEafmSN9V"]
				each item in list
					+e.col.col-md-6
						+e.video
							iframe(src= item loading="lazy" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
			+e.block
				.h25.mb-3 Готовы перейти от теории к практике?
				.h3.mb-3 Механика проста, шаги однозначны. Теперь Вы увидели, как это работает на реальных графиках.
				.h6.mb-4 Следующий шаг: 
				a.btn.btn-primary(href='#sForm') Начать зарабатывать на своём счете 
	// end sSimple