.footer {
	position: relative;
	padding: rem(40) 0;
	z-index: 1;
	position: relative;
	z-index: 2;

	// &::before {
	// 	/* Ellipse 35 */
	// 	content: "";
	// 	z-index: -1;
	// 	position: absolute;
	// 	width: 100%;
	// 	aspect-ratio: 1920 / 1710;
	// 	bottom: 0;
	// 	left: 0;
	// 	pointer-events: none;
	// 	background: linear-gradient(
	// 		180deg,
	// 		rgba(255, 255, 255, 0) 69.47%,
	// 		rgba(255, 149, 0, 0.27) 100%
	// 	);
	// 	.container {
	// 	}
	// }
	@include media-breakpoint-up(lg) {
		padding: rem(44) 0 rem(120);
	}
	&__container {
		.before {
			@include media-breakpoint-up(md) {
				top: 36%;
				left: 50.5%;
				transform: translate(-50%, -50%);
				position: absolute;
				// margin-left: rem(-15);
				// margin-top: rem(-44.500);
				// margin-bottom: rem(20);
				z-index: -1;
			}
			@include media-breakpoint-up(xl) {
				svg {
					width: rem(207);
					height: auto;
				}
			}

			display: block;

			margin-bottom: rem(20);
		}
	}

	.row {
		--bs-gutter-y: #{rem(20)};
	}
	a {
		color: $black;
		font-size: 16px;
		text-decoration: none;
		border-bottom: 1px solid !important;
		&:hover {
			border-bottom-color: transparent !important;
		}
	}

	a {
		color: $body-color !important;
		&:hover {
			opacity: 0.8;
		}
		display: inline-block;
	}

	.spiner {
		margin-left: rem(10);
		margin-right: rem(10);
	}

	&__txt {
		// color: #000;
		line-height: 1.2em;
		p {
			margin-bottom: 0;
			font-feature-settings:
				"pnum" on,
				"lnum" on;
		}
		h6 {
			// font-family: $font-family-sans-serif;
			text-transform: initial;
			margin-bottom: rem(16.5);
		}
		&--h6 {
			font-size: rem(20);
			font-weight: 600;
			margin-bottom: rem(20);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(42);
			}
			a {
				// border-bottom: 1px solid;
				font-size: rem(20);
				font-weight: 600;
				line-height: 1;
				&:hover {
					// border-color: transparent;
				}
			}
		}
		&--support {
			margin-bottom: rem(20);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(78);
			}
			a {
				text-decoration: none;
				@include media-breakpoint-up(lg) {
					display: block;
					max-width: max-content;
					margin-left: auto;
				}
				@include media-breakpoint-up(xxl) {
					font-size: rem(20);
				}
			}
		}
	}
	.text-lg-end {
		p {
			@include media-breakpoint-up(xxl) {
				font-size: rem(20);
			}
		}
	}
	&__left-col {
		a {
			display: inline;
		}
	}
}
