// start .sEveryDay
.sEveryDay {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	&__slider {
		overflow: visible;
		padding-top: 50px;
	}
	&__slide {
		max-width: max(237px, 20%);
		position: relative;
		margin-top: calc(115px - var(--devider));
		padding-top: calc(27px + var(--devider));
		border-top: 1px solid $primary;
		img {
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 20px;
		}
		&:not(:first-child) {
			padding-left: 20px;
			&::before {
				content: "";
				left: 0;
				height: 20px;
				width: 1px;
				background-color: $primary;
				position: absolute;
				top: 0;
			}
		}
		&:nth-child(1) {
			--devider: 0px;
			img {
			}
		}
		&:nth-child(2) {
			--devider: 20px;
			img {
				left: 20%;
			}
		}
		&:nth-child(3) {
			--devider: 40px;
			img {
				left: auto;
			}
		}
		&:nth-child(4) {
			--devider: 60px;
			img {
				left: auto;
			}
		}
		&:nth-child(5) {
			--devider: 80px;
			img {
				right: 20px;
				left: auto;
			}
		}
	}
	p {
		font-size: 20px;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sEveryDay
