// start .sForm
.sForm {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	color: #fff;
	text-align: center;
	.container {
		position: relative;
		img {
			position: absolute;
			bottom: calc(var(--sPB) * -1);
			max-width: 100%;
			max-height: 100%;
			z-index: -1;
			&:nth-child(1) {
				left: 80%;
			}
			&:nth-child(2) {
				right: 65%;
			}
		}
	}

	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}
	.form-wrap {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		// max-width: rem(1020);
		margin: 0 auto;
	}
	form {
		// max-width: rem(583);
		margin: 0 auto;
	}

	.form-control {
		border-width: 4px;
		background: #006fff;
		text-align: left;
		border-radius: rem(40);
		padding-top: 25px;
		font-size: 24px;
		font-weight: 600;
		&::placeholder {
			opacity: 0.7;
		}
	}

	.form-group {
		text-align: left;
		position: relative;
		.input-label {
			position: absolute;
			top: 8px;
			padding-left: 20px;
			font-size: 14px;
		}
	}

	&__col {
		position: relative;
		@include media-breakpoint-up(xl) {
			&::after {
				content: url(../img/arrow-form.svg);
				display: block;
				position: absolute;
				top: 52px;
				left: 70%;
			}
			&:last-child {
				&::after {
					left: 60%;
					transform: rotate(110deg);
					top: 100%;
				}
			}
		}
	}
	counter-reset: num;
	&__item {
		p {
			max-width: rem(230);
			margin-inline: auto;
		}
		&::before {
			content: counter(num);
			counter-increment: num;
			display: block;
			font-size: 64px;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 1px solid;
			color: #fff;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sForm

.privacy_agreement_block {
	// display: inline-block;
	margin-top: 20px;
	label {
		width: auto;
		display: inline-block;
		a {
			color: #fff;
			border-bottom: 1px solid;
		}
	}
}

.btn-success {
	--bs-btn-bg: #2ce07d;
	--bs-btn-border-color: #2ce07d;
	font-size: 32px;
	font-weight: bold;
	padding: 15px;
}
