:root {
	--animate-delay: 1.2s;

	--fancybox-content-color: var(--bs-body-color);
	--swiperArrowSize: #{rem(40)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: #fff;
	--swiperBgDef: var(--bs-primary);

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: #fff;
	--swiperBgDefHover: var(--bs-primary);
	--dark-card-bg: $gray-950;
	--accent-color: #{$pink};

	--sp-base: #{rem(20)};
	--red: #{$primary};
	//  --carousel-button-width: 48px;
	//  --carousel-button-height: 48px;

	//  --carousel-button-svg-width: 24px;
	//  --carousel-button-svg-height: 24px;

	//  --carousel-button-svg-stroke-width: 2.5;
	//  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0/ 0.4));
	@include media-breakpoint-up(sm) {
		--sp-base: #{rem(40)};
	}
	@include media-breakpoint-up(xl) {
		// --bs-body-font-size: 20px;
	}
	@include media-breakpoint-up(xxl) {
		--bs-body-font-size: #{$em-base};
	}
	--sPT: #{rem(75)};
	--sTPB: #{rem(60)};
	--sPB: #{rem(75)};
}
.fancybox__container {
	--fancybox-bg: rgba(58, 59, 60, 0.77);
}
@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}

h1,
.h1 {
	@include media-breakpoint-up(xl) {
		font-size: 120px;
	}
}
h2,
.h2 {
	@include media-breakpoint-up(xl) {
		font-size: 100px;
	}
}

.h25,
h1,
h2,
.h1,
.h2 {
	line-height: 90%;
	font-family: Akrobat, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: -0.05em;
}
.h5,
h5,
.h3 {
	text-transform: uppercase;
	font-family: Akrobat, sans-serif;
	font-weight: bold;
	letter-spacing: -0.04em;
}
.h25 {
	@include rfs(60px);
}

.item {
	background: #f5f5f5;
	padding: 20px;
	@include media-breakpoint-up(sm) {
		padding: 40px;
	}
	border-radius: 10px;
}
