@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-basket_copy {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-btn-arrow {
	$h: 33;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(32 / #{$h} *1em );
}
.icon-calendar {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-capa {
	$h: 48;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(48 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-check_copy {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-chevron-left {
	$h: 23;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-chevron-right {
	$h: 23;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-fb {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-fb_copy {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-grow {
	$h: 48;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(49 / #{$h} *1em );
}
.icon-info {
	$h: 48;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(49 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-market {
	$h: 48;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(49 / #{$h} *1em );
}
.icon-money {
	$h: 38;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(38 / #{$h} *1em );
}
.icon-ok {
	$h: 48;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(49 / #{$h} *1em );
}
.icon-point {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-rapid {
	$h: 48;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(48 / #{$h} *1em );
}
.icon-rocket {
	$h: 38;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(38 / #{$h} *1em );
}
.icon-star {
	$h: 48;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(48 / #{$h} *1em );
}
.icon-target {
	$h: 38;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(38 / #{$h} *1em );
}
.icon-telegram {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-track {
	$h: 13;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(14 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-vk {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
