mixin sStudy(data)
	// start sStudy
	+b.SECTION.sStudy.section#sStudy&attributes(attributes)
		.container
			+b.section-title
				h2
					span.text-primary Научитесь превращать

					br
					| волатильность в ежедневные деньги
			+e.group.mb-5
				.h3.ttu.mb-4 Приглашаю Вас на онлайн-практикум 
					span.text-primary «Сбор волатильности»
					| — 
				.h6.fw-400 это простая, логичная и предсказуемая методика, построенная на одном принципе:
			+e.group.mb-5
				.h3.ttu.mb-4 Если акция движется — 
					span.text-primary забери движение
				.h6.fw-400 Вы сможете забирать 5–10% в день на американских акциях, не пытаясь угадать рынок и не проводя жизнь у монитора.
			.h25.mb-5 Почему эта методика работает для всех, 
				.text-primary даже для новичков?
			ul
				li 
					.h3 Простая система, доступная каждому
					.h6.fw-400 Вы заранее знаете, в каких акциях сегодня появится волатильность. Без догадок, без «интуиции», без магии.
				li 
					.h3  Готовые сценарии торговли и работа по чек-листу.
					.h6.fw-400 Прописанные сценарии поведения акции – без двусмысленностей и кривотолков.
						br
						| Вход и выход по понятным признакам.
						br
						| Никакого хаоса, только чёткие шаги.

				li 
					.h3  Новые акции каждый день с предсказуемым поведением.
					.h6.fw-400 Акции, отобранные по правилам стратегии, ведут себя одинаково.
						br
						| Это даёт возможность зарабатывать ежедневно.

				li 
					.h3  1 час в день, и Вы свободны
					.h6.fw-400 Работа в первые 30–60 минут американской сессии.
						br
						| Можно торговать не каждый день, а только когда удобно.

				li 
					.h3 Без лишних сложностей и надоевших индикаторов
					.h6.fw-400 Стратегия построена на уровнях и механике рынка.
						br
						| Без головоломок, без десятка экранов, без перегрузки.
			+e.block
				.h25.mb-4 То, что удивляет всех учеников с первых дней
				.h3 Система настолько проста, что многим… скучно. Но именно эта простота и есть причина стабильных результатов. Главное – не суетиться.

				.h3 Стратегия сама показывает, когда входить и когда забирать прибыль.
				p Хотите получить ключ к ежедневным деньгам в трейдинге?
				a.btn.btn-primary(href='#sForm') Жмите, чтобы оформить моментальный доступ 
				+img("img/study.png")
	// end sStudy