// start .sStudy
.sGet,
.sStudy {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	li {
		padding-left: 4em;
		list-style: none;
		margin-bottom: 2em;
		position: relative;
		&::before {
			content: "";
			background-color: $primary;
			position: absolute;
			left: 0;
			top: 1em;
			width: em(40);
			height: em(4);
		}
	}

	&__block {
		border-radius: 20px;
		background-color: #f3f3f3;
		background-image: url(../img/study-bg.png);
		@include bgs;
		box-shadow: 0 35px 106px 0 rgba(74, 22, 33, 0.18);
		@include media-breakpoint-up(sm) {
			padding: 40px;
		}
		padding: 20px;
		position: relative;
		z-index: 2;
		mix-blend-mode: darken;
		img {
			position: absolute;
			right: 0;
			max-width: 50%;
			max-height: 90%;
			top: 50%;
			z-index: -1;
			transform: translateY(-50%);
			@include media-breakpoint-down(xl) {
				opacity: 0.6;
			}
		}
		.h25 {
			max-width: 780px;
		}
		.h3 {
			max-width: 800px;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sStudy
