mixin sRew(data)
	// start sRew
	+b.SECTION.sRew.section#sRew&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 
					span.text-primary Сделки моих учеников 
					br
					| с предыдущих потоков обучения
				
			+defSlider()
				mixin slide(src)
					.swiper-slide(data-fancybox="modal-slider-rev-sRew" data-src=src)
						+e.img-wrap
							+img(src=src, alt="")
				- for (var x = 1; x < 26; x++)
					+slide(`img/slider-4/img-2025-last-${x}.png`)
	// end sRew