// start .headerBlock
.headerBlock {
	@include media-breakpoint-up(xl) {
		--sPT: #{rem(230)};
	}
	--sPT: #{rem(100)};
	--sPB: #{rem(60)};
	--sTPB: #{rem(60)};
	position: relative;
	background-color: #000;
	background-image: url("../img/header-bg.png");
	background-repeat: no-repeat;
	background-size: 70% auto;
	background-position: right bottom;
	color: #fff;
	z-index: 2;
	&::after {
		content: "";
		position: absolute;
		top: 100%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		aspect-ratio: 1921/72;
		background-image: url("../img/header-after.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: -1;
	}
	.container {
		position: relative;
	}
	h1 {
		color: #fff;
		text-transform: uppercase;
		line-height: 1;
		font-weight: 800;
		position: relative;
		z-index: 4;
	}

	img {
		max-width: 100%;
		pointer-events: none;
		max-height: 100%;
		position: absolute;
		max-width: 120%;
		bottom: -5%;
		right: -20%;
		@include media-breakpoint-down(sm) {
			right: -40%;
		}
	}
	&__row {
		display: grid;
		@include media-breakpoint-up(sm) {
			gap: 40px;
			margin: 40px 0;
		}
		gap: 20px;
		margin: 20px 0;
		position: relative;
		z-index: 4;
		grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
		counter-reset: num;
	}
	&__item {
		&::before {
			content: url(../img/chart-i.svg);
			margin-bottom: 18px;
			display: block;
		}
		font-family: Akrobat, sans-serif;
		font-size: 35px;
		text-transform: uppercase;
		line-height: 1;
	}

	.btn {
		position: relative;
		z-index: 2;
	}

	@include media-breakpoint-up(xl) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
}

// end.headerBlock

.headerBlock-item {
	height: 100%;
	padding: rem(24px);
	background: rgba(0, 0, 0, 0.59);
	backdrop-filter: blur(6.6px);
	border-radius: 22px;
	text-align: center;
	font-size: 14px;
	text-wrap: balance;
	font-weight: bold;
	line-height: calc(19.6 / 14);
	img {
		margin-bottom: rem(16);
	}
}
