mixin sQA(data)
	// start sQA
	+b.SECTION.sQA.section#sQA&attributes(attributes)
		.container
			+b.section-title
				h2 #[span.text-primary Часто] Задаваемые Вопросы
			+ddGroup

				+ddGroupItem('Какие знания должны быть на старте?')
					p  Тренинг подходит как для абсолютных новичков, так и для продвинутых трейдеров.


				+ddGroupItem('Можно ли начать с полного нуля?')
					p  Да. Обучение подходит даже тем, кто никогда не торговал раньше. Всё объясняется пошагово.


				+ddGroupItem('Стратегия работает только на американских акциях?')
					p  Да.

				+ddGroupItem('Можно ли практиковаться на демо-счете?')
					p  Да, можно практиковаться на демо-счете Just2Trade.

				+ddGroupItem('Какой минимальный депозит необходим для начала торговли?')
					p  От 200$.

				+ddGroupItem('Сколько времени надо уделять трейдингу?')
					p  Достаточно 1 часа с 17:30 МСК (зимнее время), основная активность приходится на первые 30–60 минут американской сессии. Можно торговать не каждый день, а только в те дни, когда Вам удобно.

				+ddGroupItem('Есть ли рассрочка на обучение?')
					p  а, есть несколько видов рассрочки. Заполните форму выше и выберите версию участия, чтобы узнать подробнее и выбрать вариант рассрочки.

				+ddGroupItem('Насколько сложна торговая система? Боюсь, что я не справлюсь')
					p  Торговая система очень простая, главное – четко ей следовать.
					p  Бывает, ученику кажется система слишком простой. Он начинает ее докручивать. Наворачивает, а потом начинает терять деньги. В итоге приходит ко мне на индивидуальное обучение, чтобы я его удержал в рамках изначальной простейшей системы.
					p  Система простая, но не надо в нее больше ничего вносить.
				+ddGroupItem('Можно ли торговать с мобильного телефона?')
					p  Я рекомендую торговать с компьютера. 
					p С мобильного телефона торговать можно, если у Вас большой экран и хорошее зрение, чтобы разглядеть график цены.
				+ddGroupItem('Какие платформы используются?')
					p Отбор акций в TradingView, торговля в MT5 с авторским индикатором.
					p Если у брокера нет МТ5, можно торговать в любом брокерском терминале без авторского индикатора.



	// end sQA