mixin sQA(data)
	// start sQA
	+b.SECTION.sQA.section#sQA&attributes(attributes)
		.container
			+b.section-title
				h2 #[span.text-primary Часто] Задаваемые Вопросы
			+ddGroup

				+ddGroupItem('❓ Подойдёт ли обучение, если я никогда не торговал?')
					p ➡️ Да. Стратегия простая, базу Вы получите всего в 5 видеоуроках. А дальше — практика со мной. Даже с нуля Вы сможете постепенно включаться в рынок.

				+ddGroupItem('❓ Чем это отличается от «сигналов из чата»?')
					p ➡️ Я не даю «слепые сигналы». Я объясняю рынок до входа, показываю логику и веду сделку. Вы учитесь принимать решения, а не копируете бездумно.

				+ddGroupItem('❓ Сколько времени в день потребуется?')
					p ➡️ Всего 15–20 минут: разборы рынка в закрытом канале, ведение сделок. Мониторить рынок целый день не нужно.

				+ddGroupItem('❓ Можно ли совмещать с работой или учёбой?')
					p ➡️ Да. Достаточно выделить полчаса в день, можно использовать смартфон, чтобы вести сделки на ходу.

				+ddGroupItem('❓ С каким депозитом можно начать?')
					p ➡️ Даже со $100. Я завёл отдельный счёт именно для примера торговли на малом капитале. Главное не сумма, а правильный подход.

				+ddGroupItem('❓ Будут ли убыточные сделки?')
					p ➡️ Конечно. Это часть трейдинга. Но сильные трендовые сделки перекрывают убытки и выводят счёт в плюс.

				+ddGroupItem('❓ Есть ли гарантия результата?')
					p ➡️ Нет и быть не может: рынок всегда связан с риском. Я показываю свои реальные сделки, все шаги задокументированы. Вы учитесь на правильном опыте вместо того, чтобы тратить годы на ошибки.

				+ddGroupItem('❓ Что будет после 6 месяцев обучения?')
					p ➡️ У Вас уже будет опыт и стратегия. Вы можете продолжить со мной ещё один поток для получения дополнительного опыта — или выйти в самостоятельную торговлю.

				+ddGroupItem('❓ А если я пропущу эфир или отстану от группы?')
					p ➡️ Все сделки и разборы сохраняются в записи. Вы сможете вернуться к ним в удобное время.

				+ddGroupItem('❓ Какие рынки мы торгуем?')
					p ➡️ Там, где есть тренды: валюты (EURUSD, GBPUSD, USDJPY и др.), золото, нефть, криптовалюты, фьючерсы на Мосбирже, иногда индексы.

				+ddGroupItem('❓ На каких таймфреймах можно работать?')
					p ➡️ В основном работа ведется на дневном и 4-часовом таймфреймах. В зависимости от тренда на рынке сделка может удерживаться днями и неделями. Такая торговля занимает минимум времени и приносит максимальный результат.

				+ddGroupItem('❓ Какой торговый терминал будем использовать?')
					p ➡️ Если Ваш брокер предоставляет торговый терминал Metatrader 5, можно использовать его.


			
			+e.panel.text-center.pt-5
				h3.mb-4 Остались вопросы?
				p.mb-4 Любой вопрос с удовольствием обсудим лично. Закажите бесплатную консультацию, <br> и специалист Инфоклуба поможет найти ответы именно для Вашей ситуации.
				a.btn.btn-primary(href="#sForm") Заказать бесплатную консультацию 
	// end sQA