extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sCatalog/_sCatalog.pug

include ../blocks/topLine/_topLine.pug
include ../blocks/sEveryDay/_sEveryDay.pug
include ../blocks/sQA/_sQA.pug
include ../blocks/sMyName/_sMyName.pug
include ../blocks/sKnowBefore/_sKnowBefore.pug
include ../blocks/sStudy/_sStudy.pug
include ../blocks/sSimple/_sSimple.pug
include ../blocks/sGet/_sGet.pug
include ../blocks/sStrategies/_sStrategies.pug
include ../blocks/sWhyEveryday/_sWhyEveryday.pug
include ../blocks/sAuthor/_sAuthor.pug
include ../blocks/sProgram/_sProgram.pug
include ../blocks/sNoticeYourself/_sNoticeYourself.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sYouReady/_sYouReady.pug
include ../blocks/sRew/_sRew.pug


//- include ../blocks/sTasks/_sTasks.pug
//- include ../blocks/sTitan/_sTitan.pug
//- include ../blocks/s4SuperProperties/_s4SuperProperties.pug
//- include ../blocks/sProfitableRobot/_sProfitableRobot.pug
//- include ../blocks/sStartRobots/_sStartRobots.pug
//- include ../blocks/sProfitsSetting/_sProfitsSetting.pug
//- include ../blocks/sChanges/_sChanges.pug
//- include ../blocks/sSwitchToTitan/_sSwitchToTitan.pug
//- include ../blocks/sPrivateProfit/_sPrivateProfit.pug
//- include ../blocks/sHelpCry/_sHelpCry.pug
//- include ../blocks/sWithTitanToday/_sWithTitanToday.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= index.head.title
	title= 'Сбор волатильности'
block pagecontent
	//- +mob-mnu()
	
	+topLine
	main
		+headerBlock 
		+sEveryDay
		+sMyName
		+sKnowBefore
		+sStudy
		+sSimple
		+sGet
		+sStrategies
		+sWhyEveryday
		+sAuthor
		+sProgram
		+sNoticeYourself
		+sWhy
		+sQA
		+sYouReady
		+sRew
	+footer