// start .sWhy
.sWhy {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	background-image: none;

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	ol {
		display: grid;
		@include media-breakpoint-up(sm) {
			gap: 30px;
			margin: 40px 0;
		}
		list-style: none;
		gap: 20px;
		margin: 20px 0;
		position: relative;
		z-index: 4;
		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
		}
		grid-template-columns: 1fr 1fr;
		counter-reset: num;
		text-wrap: balance;
		li {
			&::before {
				content: counter(num);
				counter-increment: num;
				font-size: 120px;
				font-family: Akrobat, sans-serif;
				font-weight: 800;
				color: $primary;
				display: block;
				line-height: 1;
			}
		}
		.h5 {
			text-transform: uppercase;
			font-family: Akrobat, sans-serif;
			font-weight: bold;
		}
		p {
			color: #a1a1a1;
		}
	}

	.form-control {
		text-align: left;
		border-radius: rem(40);
		padding-top: 25px;
		font-size: 24px;
		font-weight: 600;
		border-color: $primary;
		border-radius: 4px;
		text-transform: uppercase;
		font-family: Akrobat, sans-serif;
		text-transform: uppercase;
		&::placeholder {
			opacity: 0.2;
		}
	}

	.form-group {
		text-align: left;
		position: relative;
		.input-label {
			position: absolute;
			top: 8px;
			padding-left: 20px;
			font-size: 14px;
			text-transform: uppercase;
			font-family: Akrobat, sans-serif;
			font-weight: bold;
			letter-spacing: -0.04em;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sWhy

.lg-text {
	margin-bottom: 2em;
	&__item {
		&:first-child {
			color: #fff;
		}
		color: $primary;
		&:nth-child(2) {
			margin-left: 0.9em;
			opacity: 0.3;
		}
		&:nth-child(3) {
			margin-left: 1.8em;
			opacity: 0.5;
		}
		&:nth-child(4) {
			margin-left: 2.7em;
			opacity: 0.7;
		}
		&:nth-child(5) {
			margin-left: 3.6em;
		}
	}
	position: relative;
	img {
		position: absolute;
		right: 0;
		bottom: 1em;
		max-width: 80%;
		max-height: 100%;
		@include media-breakpoint-down(sm) {
			opacity: 0.5;
		}
	}
}
