mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section.dark-bg#sWhy&attributes(attributes)
		.container
			+b.section-title
				.row
					.col-xl-8
						h2 Почему мои ученики выходят на&nbsp;результат, и&nbsp;Вы сможете
					.col
						.h3 За годы практики я понял простую истину: #[span.text-primary результат в трейдинге появляется тогда, когда есть система, которая не оставляет места сомнениям.]

			.h3.mb-5 Вот почему у Вас получится работать по моей стратегии:
			ol.mb-5
				li
					.h5 Простая и логичная система, без “магии” и догадок
					p Я убрал всё лишнее. Только проверенная механика рынка и чёткие шаги
				li
					.h5 Однозначные инструкции: вход, стоп, выход.
					p Вы всегда знаете, что делать: где можно торговать, где нельзя, когда входить и когда фиксировать прибыль
				li
					.h5 Быстрая отдача
					p Вы увидите результат работы стратегии уже в первый день реальной торговли. Это не теория, мы работаем на живом рынке
				li
					.h5 Личная поддержка на каждом этапе
					p Работаем каждый день на реальных акциях: от списка ежедневных тикеров до разбора Ваших сделок.
				li
					.h5 Дисциплина «в коробке»
					p Есть чек-лист, который исключает двоякие трактовки. Просто следуйте шагам, и торговля станет спокойной и предсказуемой
			.h3.mb-5(style="max-width: 800px;")
				.mb-2 Лучший отзыв, который я получил:
				span.text-primary «Торговля стала спокойной: вижу, где нельзя, вижу, где можно, и делаю деньги».
			+b.lg-text.h2
				+e.item И вы тоже сможете!
				+e.item Это просто
				+e.item Это спокойно
				+e.item Это логично
				+e.item И это каждый день!
				+img("img/sWhy-img.png")
			.row.mb-5
				.col-xl-8
					.h25 Получите доступ к стратегии 
						.text-primary «Сбор волатильности» 
						| прямо сейчас
				.col
					.h3 Время – деньги. Если рынок сегодня движется, почему бы не забрать своё?
					.h3.text-primary Введите Ваши данные, выберите версию участию и получите моментальный доступ к обучению.
			+b.form-wrap#sForm
				<div id="bf349" class="inbfrm v2">
					<div id="bf349_inner"> 
						<form id="bf349_form" action="//info-dvd.ru/bbm/order/price_table_null_tradingvisionpro/?bform_id=349" method="POST" accept-charset="windows-1251" onsubmit="return bf349.check();" >
							<input type="hidden" name="good_id" value="price_table_null_tradingvisionpro">
							<input type="hidden" name="bform_id" value="349">
							<input type="hidden" name="comment_author" value="">
							<input type="hidden" name="comment_text" value="">
							<input type="hidden" name="promocode" value="">
							<div class="form-grid row gx-3 gy-3">
						
							<div class="col-lg-4"> 
								<div class="input_line form-group "> 
									<label class="input-label">Ваше имя</label>
									<input name="fullname" type="text" class="text form-control" value="" placeholder="Ваше имя" required="required"/>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input_line form-group ">  
									<label class="input-label">Номер телефона</label>
									<input name="phone" type="text" class="text form-control" value="" placeholder="+7 (____)____-___-___" required="required"/>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input_line form-group "> 
									<label class="input-label">E-mail</label>
									<input name="email" type="email" class="text form-control" value="" placeholder="E-mail (необязательно)" required="required"/>
								</div>
							</div>
								<div class="submit_line col-12">
									<button type="submit" class="button btn btn-primary w-100" name="submit" > Отправить</button>
								</div>
							</div>

							<div class="privacy_agreement_block">
								<label>
									<input type="checkbox" class="form-check-input" name="oferta_warn" value="1" checked="checked" required="required"> <span class="ibfm_txt">Я согласен с условиями</span> <a href="javascript:void(0)" onclick="return window['bf349'].popup(`https://info-dvd.ru/bbm/../../oferta?popup=1`, `win`, 1050, 450); return false;">публичной оферты</a>
								</label>
							</div>
						</form>
					</div>
				</div>
				script.
					window.setTimeout(function() {
						(function (d, w, src, r, c) {
							var rid = r.toString().substr(2);
							var n = d.getElementsByTagName("script")[0],s = d.createElement("script"),
								f = function () { n.parentNode.insertBefore(s, n); };
							var p=d.location.protocol;
							if (p!='http:' && p!='https:' && src.indexOf('//')==0){src='http:'+src}
							s.type = "text/javascript";
							s.async = true;
							s.src = src+(src.indexOf('?')==-1 ? '?' : '&')+'r='+rid;
							if (w.opera == "[object Opera]") {
								d.addEventListener("DOMContentLoaded", f, false);
							} else {
									f();
								}
							if (c) {
								s.addEventListener('load', function (e) {
									c(null, e);
								}, false);
							}
						})(document, window, "//info-dvd.ru/bbm/js/bbm_form.js", Math.random(), function(){
							window['bf349'] = new BbmFormMng({
								id: 'bf349',
								langs: {
									errors : {
										email_pattern: 'Введите корректный адрес электронной почты.',
										alphanumeric_pattern: 'Может содержать только маленькие английские буквы и цифры',
										phone_pattern: 'Некорректный формат телефона',
										zip_pattern: 'Некорректный формат почтового индекса',
										empty_field: 'Это поле необходимо заполнить.',
										min_limit: 'Укажите значение не меньше ',
										oferta_warn: 'Необходимо согласиться с условиями публичной оферты!'
									},
									processing: 'Обработка...'
								}, rules: {
									kupon:['alphanumeric'],
										phone:['phone', 'required'],
										email:['required', 'email'],
									fullname:['required']
								},
							phone_verification: false});
						});
					}, 0);
	// end sWhy