mixin sKnowBefore(data)
	// start sKnowBefore
	+b.SECTION.sKnowBefore.dark-bg.section#sKnowBefore&attributes(attributes)
		.container
			+b.section-title
				h2
					span.text-primary Как знать заранее, 
					br
					| какие акции сегодня  вырастут?
			p(style="color: #a1a1a1; max-width: 990px") Каждый день на рынке США появляются десятки акций, которые “взрываются” по волатильности – двигаются и дают возможность заработать уже в первые 30–60 минут торгов.
			+e.block
				.h3 
					span.text-primary Волатильность 
					| – это момент, когда  рынок готов платить.
				p #[span Это энергия], которую можно превращать в деньги.
					br
					| И она появляется #[span каждый день].
					br
					| Я знаю, как #[span находить такие акции заранее], в самом начале торговой сессии.
					br
					| И как #[span спокойно забирать рост], когда он уже начался.
			ul
				li Каждый день 
					br
					| новый список 
					br
					| акций
				li Каждый день
					br
					| новая возможность 
					br
					| получить профит
				li Никаких догадок. 
					br
					| Никаких 
					br
					| «мне кажется»
			.text-center.mb-5
				p(style="color: #a1a1a1") Я не предсказываю будущее. Я просто вижу, какая акция даёт возможность заработать. <br> Вижу момент, когда она начинает расти. И присоединяюсь к этому движению.

				.h3.ttu Это даёт возможность торговать спокойно, предсказуемо и стабильно, шаг за шагом.
			+e.footer-row.row
				.col
					.h3.ttu Когда я разрабатывал эту систему, я хотел убрать всё лишнее: догадки, стресс, импульсивность. Получилось просто и красиво. Каждый день рынок даёт шанс. Нужно лишь знать, где он начинается. И забрать своё
				.col-md-auto.text-center
					+img("img/author.png")


	// end sKnowBefore