// start .sKnowBefore
.dark-bg {
	margin-bottom: 40px;
	background: #000;
	background-image: url("../img/header-bg.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: right bottom;
	position: relative;
	color: #fff;
	.container {
		position: relative;
		z-index: 2;
		&::before,
		&::after {
			content: "";
			filter: blur(500px);
			width: 30%;
			aspect-ratio: 1/1;
			background-color: $primary;
			position: absolute;
			z-index: -1;
			opacity: 0.6;
		}
		&::after {
			top: 40%;
			left: 70%;
		}
		&::before {
			top: 0;
			// left: -;
			right: 80%;
		}
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		aspect-ratio: 1921/72;
		background-image: url("../img/header-after.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: -1;
	}
	&::before {
		scale: 1 -1;
		bottom: 99.9%;
		left: 0;
	}
	&::after {
		top: 99.9%;
		left: 0;
	}
	.swiper-pagination {
		opacity: 0.5;
	}
}
.sKnowBefore {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	.h3 {
		line-height: 1;
	}
	&__block {
		background-image: url("../img/block-bg.png");
		@include bgs;
		padding: 40px;
		border-radius: 20px;
		text-transform: uppercase;
		margin-bottom: 8px;
		.h3 {
			max-width: 18em;
			@include media-breakpoint-up(lg) {
				font-size: 60px;
			}
		}
		p {
			font-family: Akrobat, sans-serif;
			font-weight: bold;
			@include rfs(35px);
			line-height: 1;
		}
	}
	ul {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
		gap: 8px;
		margin-bottom: var(--sPB);
	}
	li {
		background: rgba(27, 0, 0, 0.2);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(255, 255, 255, 0.3);
		@include rfs(35px);
		font-family: Akrobat, sans-serif;
		padding: 1.1em;
		line-height: 1;
		text-transform: uppercase;
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	h2 {
		max-width: 900px;
	}
	p {
		font-size: 20px;
	}
	&__footer-row {
		align-items: center;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sKnowBefore
