mixin sNoticeYourself(data)
	// start sNoticeYourself
	+b.SECTION.sNoticeYourself.section#sNoticeYourself&attributes(attributes)
		.container
			+b.section-title
				h2 
					span.text-primary Узнаете себя? 
					br
					| Тогда Вы точно на месте!
			.h6.fw-400.mb-5 Торговая стратегия «Сбор волатильности» идеально подходит людям разных уровней подготовки.
			.h3.mb-5 Если хотя бы один пункт про Вас – #[span.text-primary значит, Вы сможете работать по этой системе.]
			mixin item(i,t)
				+e.item
					+img(`img/sNoticeYourself-icon-${i}.svg`)
					+e.caption
						block
			+item(1)
				.h3.mb-4 Если Вы #[span.text-primary новичок]
				ul
					li Вам нужен простой пошаговый алгоритм «без вариантов».
					li Вы хотите сразу избежать периода ошибок и слива депозита.
					li Вам важно, чтобы всё было разложено «по полочкам» и без сложных терминов.

			+item(2)
				.h3.mb-4 Если вы #[span.text-primary уже пробовали торговать], но устали от хаоса
				ul
					li Вам надоела торговля «на глаз» и постоянное угадывание.
					li Вы хотите чёткие правила, предсказуемый процесс и спокойный заработок.
					li Вы хотите зарабатывать системно, а не только в «удачные моменты».
					li Вы хотите перестать тратить нервы и начать торговать по структуре.

			+item(3)
				.h3.mb-4 Если Вы #[span.text-primary практикующий трейдер]
				ul
					li Вы хотите выйти на новый уровень дохода, используя волатильность.
					li Вам нужна стратегия, которая даёт однозначные точки входа и выхода, без лишних вариантов.
					li Вы хотите добавить к своей торговле стабильность, структуру и предсказуемость.
					li Вам важно работать по системе, которая каждый день показывает, где сегодня есть движение

			+item(4)
				.h3.mb-4 Если Вы #[span.text-primary занятой человек]
				ul
					li У Вас мало времени, нужен рабочий подход, который занимает всего 1 час в день.
					li Вы хотите зарабатывать без многочасового просиживания штанов у графиков.
					li Вам важно иметь возможность торговать только в те дни, когда удобно.

			.h25.mt-4.mb-3.mt-5 Я создал эту методику именно для таких трейдеров. Если Вы узнали себя – #[span.text-primary значит, Вы будете чувствовать себя в ней как дома.]
	// end sNoticeYourself