mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			+e.row.row
				.col-auto
					+e.logo
						+logo
				.col Бесплатно! Пошаговый онлайн курс: первые деньги на Forex
	// end topLine