mixin sGet(data)
	// start sGet
	+b.SECTION.sGet.section#sGet&attributes(attributes)
		.container
			+b.section-title
				h2
					span.text-primary Не гадайте. Забирайте то, 
					br
					| что рынок отдаёт сам
			.h6.fw-400.mb-3 Пока большинство трейдеров ждут «идеальный момент», мы работаем там, где логика  и вероятность на нашей стороне.

			.h6.fw-400.mb-5 На рынке США каждый день десятки акций совершают сильные внутридневные движения. В основе стратегии «Сбор волатильности» именно эти движения.

			.h25.mb-4 Почему торговая стратегия даёт <br> предсказуемый результат?
			ul
				li 
					.h3 Мы не гонимся за рынком
					.h6.fw-400 Мы берём только ту часть движения, которая подтверждена реальной волатильностью
				li 
					.h3  Мы ищем не «сигналы», а предсказуемую механику
					.h6.fw-400 Если акция начинает движение, рынок сам показывает, что в ней есть энергия. Наша задача – забрать часть этого движения

				li 
					.h3 Стратегия заранее показывает, где сегодня появится волатильность
					.h6.fw-400 Уже в первую минуту торговой сессии Вы точно знаете, за какими акциями нужно наблюдать. Из тысяч тикеров остаются только те, где есть потенциал

				li 
					.h3  Авторский индикатор MT5 убирает сомнения
					.h6.fw-400 Он показывает, какие акции нельзя трогать и где вероятность роста выше всего

				li 
					.h3 Момент входа и момент выхода — однозначны
					.h6.fw-400 Мы входим перед началом роста по узнаваемой картине. И выходим, когда движение выдыхается – рынок сам это показывает
			+e.block
				.h25.mb-4 Логично. Спокойно. Предсказуемо
				p.mb-4 Это не удача. Это механика рынка.
				a.btn.btn-primary(href='#sForm') Хочу торговать предсказуемо
	// end sGet