mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.dark-bg.section#sAuthor&attributes(attributes)
		.container
			.h3(style="color: #a1a1a1;").mb-5 Обо мне
			+e.caption
				+b.section-title
					.h25 #[span.text-primary Меня зовут Станислав Добровский.] Я торгую с 2006 года и научу Вас зарабатывать спокойно.
				ul.mb-5
					li Эта комбинация помогает мне не только находить лучшие рыночные возможности, но и учить людей работать без стресса, суеты и догадок
					li Я частный трейдер с 20-летним опытом и практикующий психолог
					li Мой путь к стратегии «Сбор волатильности» начался почти 10 лет назад
					li Я искал способ зарабатывать в трейдинге от +30% к депозиту в месяц без нервов и больших затрат времени. Я самостоятельно пришёл к способу находить акции, которые дают движение именно сегодня
					li В 2020 году систематизировал этот подход в пошаговую модель, дающую результат здесь и сейчас, без прогноза и без хаоса
					li В 2025 году составил карту сценариев поведения волатильной акции, на основе которой и родилась торговая стратегия «Сбор волатильности»
			.h3.mb-5 Почему мои ученики #[span.text-primary получают результаты] уже во время обучения
			ol.mb-5
				li Потому что здесь нет случайностей, только механика рынка
				li Потому что мы работаем по готовым сценариям, без догадок
				li Потому что в моём обучении нет сухой теории, только живая практика
				li Потому что для получения результата нужен всего один торговый день
			+img("img/autor-block.png").author-img
			.h3.mb-5.text-center Отзывы учеников
			+defSlider()
				- for (var x = 1; x < 16; x++)
					.swiper-slide(data-fancybox="modal-slider-rev" data-src=`img/slider-3/img-2025-rewl-${x}.png`)
						+e.img-wrap
							+img(src=`img/slider-3/img-2025-rewl-${x}.png`, alt="")
	// end sAuthor