// start .sAuthor
.sAuthor {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	.container::after {
		top: 70% !important;
		left: 75% !important;
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__caption {
		max-width: 890px;
	}
	ul li {
		padding-left: 4em;
		list-style: none;
		margin-bottom: 2em;
		position: relative;
		font-size: 20px;
		max-width: 500px;
		&::before {
			content: "";
			background-color: $primary;
			position: absolute;
			left: 0;
			top: 1em;
			width: em(40);
			height: em(4);
		}
	}
	.container {
		position: relative;
		z-index: 2;
	}
	.author-img {
		left: 45%;
		max-width: 80%;
		@include media-breakpoint-up(lg) {
			top: -50px;
		}
		top: 0;
		position: absolute;
		z-index: -1;
	}

	ol {
		display: grid;
		@include media-breakpoint-up(sm) {
			gap: 40px;
			margin: 40px 0;
		}
		list-style: none;
		gap: 20px;
		margin: 20px 0;
		position: relative;
		z-index: 4;
		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
		grid-template-columns: 1fr 1fr;
		counter-reset: num;
		li {
			&::before {
				content: counter(num);
				counter-increment: num;
				font-size: 120px;
				font-family: Akrobat, sans-serif;
				font-weight: 800;
				color: $primary;
				display: block;
				line-height: 1;
			}
		}
	}

	.def-slider__img-wrap {
		display: inline-block;
		padding: 16px;
		border: 1px solid $primary;
		border-radius: 8px;
	}
	.swiper-slide {
		width: auto;
		max-width: 90%;
		img {
			border-radius: 8px;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAuthor
