mixin sWhyEveryday(data)
	// start sWhyEveryday
	+b.SECTION.sWhyEveryday.section#sWhyEveryday&attributes(attributes)
		.container
			+b.section-title
				h2 Почему для ежедневной прибыли нужен именно  
					span.text-primary рынок США?
			.h6.fw-400.mb-5 Чтобы зарабатывать в трейдинге каждый день, нужен рынок, где ежедневно присутствует высокая волатильность. Большинство рынков этому не соответствует.


			+e.row.row
				.col-12
					+e.item
						.h3 Почему другие рынки не подходят:
						ul
							li Российский рынок – периоды движения часто сменяются затишьем.
							li Форекс – волатильность зависит от мировых событий, нет стабильности.
							li Криптовалюты – движения есть, но они хаотичны и трудно прогнозируемы.
							li Металлы и сырьё – работают циклами, а не ежедневно.

				.col-12
					+e.item
						.h3 Американский рынок – самый крупный и ликвидный в мире:
						ul
							li более 11 000 акций,
							li ежедневно десятки тикеров показывают сильные внутридневные движения,
							li высокая ликвидность и прозрачная механика,
							li стабильная волатильность, подходящая для внутридневной торговли
				.col-lg-6.py-3
					.h3 Говоря простым языком, среди #[span.text-primary 11 000 акций] каждый день есть те, которые растут  с высокой волатильностью.
				.col-lg-6.py-3
					.h3 Именно поэтому стратегия «Сбор волатильности» 
						br 
						| #[span.text-primary даёт результат именно здесь].

				.h25.py-3 Как получить доступ к американским акциям? 
				.col-lg-6
					+e.item.h-100
						.h3 Если вы из РФ
						p Самое простое решение – брокер Just2Trade:
						ul
							li надёжный брокер с многолетней репутацией,
							li понимает запросы российских клиентов,
							li предоставляет доступ ко всем необходимым акциям,
							li даёт бесплатный терминал MetaTrader 5,
							li удобный ввод и вывод средств.
						p Альтернативы:
						ul
							li Финам – нужен статус квалифицированного инвестора, ограниченный список акций.
							li Interactive Brokers – возможны сложности с вводом/выводом средств из РФ.

				.col-lg-6
					+e.item.h-100
						.h3 Если вы #[span.text-primary не] из РФ
						p Подойдёт любой брокер, который даёт полный доступ к рынкам NYSE и NASDAQ:
						ul
							li Just2Trade
							li Interactive Brokers
							li Freedom24
							li другие международные брокеры

	// end sWhyEveryday