// start .sWhyEveryday
.sWhyEveryday {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: #{rem(8)};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
		border-radius: 8px;
		@include media-breakpoint-up(md) {
			padding: 40px;
		}
		padding: 20px;
		background: radial-gradient(
			73.92% 87.75% at 89.04% 73.73%,
			#f3f3f3 0%,
			#fafafa 100%
		);
		ul {
			padding-left: 20px;
			font-size: 20px;
		}
		p {
			font-size: 20px;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sWhyEveryday
