mixin sYouReady(data)
	// start sYouReady
	+b.SECTION.sYouReady.section.dark-bg#sYouReady&attributes(attributes)
		.container
			+b.section-title
				.row
					.col-xl-8
						h2 Если Вы дочитали до этого места, #[span.text-primary Вы уже готовы сделать шаг]
					.col
						.h3 Я много лет работаю с учениками и вижу одну вещь: #[span.text-primary тот, кто читает до конца, уже внутренне принял решение. Просто разум ещё держит тормоз. Это нормально.]
			.h3.mb-5 Разум всегда говорит одно и то же: «Подожди… Подумай… А вдруг не получится…» 
				br
				| Но рынок не ждёт. Он движется сегодня, прямо сейчас.
				br
				| И сегодня кто-то заберёт своё движение. Кто-то войдёт в сделку по алгоритму. 
				br
				| Кто-то получит прибыль. 
				br
				span.text-primary Почему не Вы?
				br
				| Вы уже понимаете, как работает стратегия. 
				br
				| Вы видели механику, шаги, логику, примеры. 
				br
				| Перед Вами понятный путь: от первого дня до уверенной торговли.
			.h2.mb-5 Сейчас Вы стоите #[span.text-primary в дверях]
			+e.row.row.g-4.mb-5
				.col-md-6 
					+img("img/sYouReady-1.svg")
					.h3.mt-1 Внутри – 
					.h5.text-secondary то, что уже знакомо: сомнения, ожидание, привычный день. 
				.col-md-6 
					+img("img/sYouReady-2.svg")
					.h3.mt-1 За дверью – 
					.h5.text-secondary движение. Возможности. Результаты.
				.h3.mb-5 Это переход из «пока что» в «наконец-то». 
					br
					| И этот переход делается одной рукой, нажатием кнопки.
					br
					span.text-primary Я иду с Вами. Вы не останетесь один ни на одном шаге.
					br
					| Сделайте первый шаг сейчас. Присоединяйтесь к практикуму. 
					br
					| Сегодня может стать Вашим первым днём на стороне прибыли.
				a.btn.btn-primary(href='#sForm').w-100 Начать зарабатывать на волатильности

	// end sYouReady